@{
    ViewData["Title"] = "Home Page";
}

@model MVCText.Models.StringContainer;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
    @foreach(var items in Model.stuff) {
        <li>
            <a asp-controller="Home"
            asp-action="Content"
            asp-route-id="@items">@items</a>
        </li>
    }
</ul>
